
.toolbar.theme--dark {
    background-image: linear-gradient(-225deg, rgb(255, 195, 113) 20%, rgb(255, 95, 109) 100%) !important;
}

.toolbar__title {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #ffffff !important;
}

/* .message-list-container {
  background-color: #dcdbdc !important
} */

.message-bot .message-bubble {
    background-color: #eaf0f6 !important;
}

.message-human .message-bubble {
    background-color: #ffe1d3 !important;
}

/*.message-bubble p {
    margin-bottom: 8px;
}

.message-bubble p:last-child {
    margin-bottom: 0px;
}

.message-bubble .message-text {
    padding-left:  0;
    padding-right: 0;
    line-height: 1.6;
    font-size: 1rem;
}

.message-text {
  color: #000000;
  width: 100%;
}

.headline {
    font-size: 1.2rem !important;
    line-height: 1.4 !important;
}

.card__title {
    padding: 10px 16px !important;
}

.card__text {
    padding: 8px 16px 16px !important;
    line-height: 1.4;
}

.card__title.card__title--primary {
    background-color: #eeedeb !important;
}


.input-group--text-field input,
.input-group--text-field textarea,
.input-group--text-field label {
    font-size: 14px !important;
}*/

.message-bubble {
    border-radius: 6px !important;
    padding: 0px 12px !important;
    margin: 20px 10px !important;
}

.card__actions .btn {
  margin: 4px 4px !important;
  font-size: 1em !important;
  min-width: 44px !important;
  background-color: #cde3ff !important;
} 

button.min-button {
    border-radius: 50%;
}
.btn{
    box-shadow: none !important;
}

.btn__content {
    text-transform: none !important;
}

.message-button {
    display: none;
}

.red{
    background-image: linear-gradient(-225deg, rgb(255, 195, 113) 20%, rgb(255, 95, 109) 100%) !important;
    border:none !important;
}